  <script src="{{ ASSETS_ROOT }}/js/core/popper.min.js"></script>
  <script src="{{ ASSETS_ROOT }}/js/core/bootstrap.min.js"></script>
  <script src="{{ ASSETS_ROOT }}/js/plugins/perfect-scrollbar.min.js"></script>
  <script src="{{ ASSETS_ROOT }}/js/plugins/smooth-scrollbar.min.js"></script>
  <!-- Vendor JS Files -->
<script src="{{ ASSETS_ROOT }}/btlabs/vendor/aos/aos.js"></script>
<script src="{{ ASSETS_ROOT }}/btlabs/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="{{ ASSETS_ROOT }}/btlabs/vendor/glightbox/js/glightbox.min.js"></script>
<script src="{{ ASSETS_ROOT }}/btlabs/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="{{ ASSETS_ROOT }}/btlabs/vendor/swiper/swiper-bundle.min.js"></script>
<script src="{{ ASSETS_ROOT }}/btlabs/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="{{ ASSETS_ROOT }}/btlabs/js/main.js"></script>