{% extends "layouts/base.html" %}

{% block title %} EPIC-WEB Wallet {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="container-fluid py-4 p-4">
    <div class="row min-vh-80 h-100">
        <div class="col-12">
            <div class="row justify-content-center">
                <div class="col-12" style="max-width: 700px">
                    <div class="row justify-content-center">
                        <div class="col-12" style="max-width: 400px">
                            <img src="{{ ASSETS_ROOT }}/images/calc.png" class="img-fluid my-3 rounded-2">
                        </div>
                    </div>

                    <p class="fs-4 mt-3">
                        <b>EPIC</b> Mining Calculator
                    </p>
                    <hr>
                    <p class="fs-5 mt-2">
                        Estimate your profits with this easy to use tool.
                    </p>
                </div>
            </div>

            <hr>

            <!--            FOOTER -->
            <div class="row justify-content-center">
                <div class="col-12" style="max-width: 700px">
                    {% include 'includes/footer.html' %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
