{% extends "layouts/base.html" %}

{% block title %} EPIC-RADAR {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="container-fluid py-4 p-4">
    <div class="row min-vh-80 h-100">
        <div class="col-12">
            <div class="row justify-content-center">
                <div class="col-12" style="max-width: 700px">
{#                    <img src="{{ ASSETS_ROOT }}/images/giverofepic_logo_light.png" class="img-fluid my-3">#}

                    <p class="fs-4 mt-3">
                        Telegram Utility and Stats Bot
                    </p>
                    <hr>

                    <div class="text-center my-5">
                        <a href="https://t.me/epicradarbot" target="_blank" style="width: 90%"
                           class="btn btn-lg btn-outline-primary shadow-primary text-dark">
                            <i class="fab fa-telegram mx-1"></i> Telegram
                            <span class="text-info">@EpicRadarBot </span>
                            - try now!
                        </a>
                    </div>

                    <p class="fs-5">
                        Easy to use Telegram bot was introduced in <b>2021</b> to help miners and traders to access blockchain and trading data.
                        Although project wasn't updated since then it still serves its purpose. My goal is to introduce a lot of changes and make it
                        more practical.
                    </p>

                    <p class="fs-5 text-center">
                        Update with more details soon..
                    </p>

                    <hr>

                </div>
            </div>

            <!--            FOOTER -->
            <div class="row justify-content-center">
                <div class="col-12" style="max-width: 700px">
                    {% include 'includes/footer.html' %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
