.bg-blue {
    color: #badce3;
    background: conic-gradient(from 315deg at 80% 60%, #5ba3a8, #4c929b, #306d7e, #1b4a61, #133c54);
}

.bg-green {
    background: conic-gradient(from 225deg at 80% 50%, #1e6e12, #1c6b12, #176213, #135716, #134a1a, #123f1b, #11361a, #10331a);
}