{% extends "layouts/base.html" %}

{% block title %} Epic-Web  {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="container-fluid py-4 p-4">
    <div class="row min-vh-80 h-100">
        <div class="col-12">
            <div class="row justify-content-center">
                <div class="col-12" style="max-width: 700px">
                    <img src="{{ ASSETS_ROOT }}/images/screen.png" class="img-fluid my-3">

                    <p class="fs-4 mt-3">
                        Introduce the power of the <b>Mimblewimble</b> in a web-browser, without any system requirements!
                    </p>
                    <hr>
                    <p class="fs-5 mt-2">
                        Thanks to this custodial wallet users can send, receive and store coins straight
                        from the browser. Wallet is online 24/7 and available for everyone.
                    </p>

                    <p class="fs-5 mt-3">Key features:</p>
                    <li>Modern UI design</li>
                    <li>Mobile & Desktop friendly</li>
                    <li>24/7 online</li>
                    <li>Full control over your assets</li>
                    <li>Private & Secure</li>
                    <li>Mimblewimble powered</li>

                    <div class="text-center d-block d-md-none mt-4">
                        <iframe width="320" height="500" src="https://www.youtube.com/embed/KTEo0aBA7ys"></iframe>
                    </div>
                    <div class="text-center d-none d-lg-block mt-4">
                        <iframe width="520" height="750" src="https://www.youtube.com/embed/KTEo0aBA7ys"></iframe>
                    </div>
                </div>
            </div>

            <hr>

            <!--            FOOTER -->
            <div class="row justify-content-center">
                <div class="col-12" style="max-width: 700px">
                    {% include 'includes/footer.html' %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
