{% extends "layouts/base.html" %}

{% block title %} EPIC Tip-Bot {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="container-fluid py-4 p-4">
    <div class="row min-vh-80 h-100">
        <div class="col-12">
            <div class="row justify-content-center">
                <div class="col-12" style="max-width: 700px">
                    <img src="{{ ASSETS_ROOT }}/images/tipbot_banner.png" class="img-fluid my-3">

                    <p class="fs-4 mt-3">
                        Introduce <i class="fab fa-telegram mx-1"></i> <b>Telegram</b> in-chat tipping framework using a privacy focused
                        cryptocurrency blockchain. Deposit, withdraw and send EPIC to users using built-in wallet.
                    </p>
                    <hr>
                    <p class="fs-5 mt-5">
                        Project was successfully launched in April 2022 for the Epic Cash Community, growing rapidly since then -
                        it has almost <b>900</b> active users, more than <b>5,000</b> transactions worth <b>70,000 EPIC</b>!
                    </p>

                    <div class="text-center mt-5">
                        <a href="https://t.me/epictipbot" target="_blank" style="width: 90%"
                           class="btn btn-lg btn-outline-primary shadow-primary text-dark">
                            <i class="fab fa-telegram mx-1"></i> Telegram
                            <span class="text-info">@EpicTipBot </span>
                            - try now!
                        </a>
                    </div>

                    <p class="fs-5 mt-3">
                        Project is free to use, everyone can create an account or invite the bot to a Telegram group.
                        Key features:
                    </p>
                    <li>VITE & EPIC Blockchain support</li>
                    <li>Create and manage the wallet inside Telegram messenger app</li>
                    <li>Deposit & withdraw assets</li>
                    <li>Reward content creators, developers and other Telegram users</li>
                    <li>Use as reward distribution system for events</li>

                    <p class="fs-5 mt-3">
                        Project is constantly updated with new a features, for more details check the Milestone section.
                    </p>

                </div>
            </div>

            <!--            MILESTONES -->
            <div class="row justify-content-center mt-5">
                <div class="col-12" style="max-width: 700px">
                    {% include 'funding/milestones.html' %}
                </div>
            </div>

            <hr />

{#            <!--            FUNDING -->#}
{#            <div class="row justify-content-center mt-5">#}
{#                <div class="col-12" style="max-width: 700px">#}
{#                    {% include 'funding/funding.html' %}#}
{#                </div>#}
{#            </div>#}
{##}
{#            <hr />#}

            <!--            PAYMENT METHODS -->
            <div class="row justify-content-center mt-5">
                <div class="col-12" style="max-width: 700px">
                    {% include 'funding/payment_methods.html' %}
                </div>
            </div>

            <!--            FOOTER -->
            <div class="row justify-content-center">
                <div class="col-12" style="max-width: 700px">
                    {% include 'includes/footer.html' %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
