<div class="col-md-12 mt-4">
    <div class="card">
        <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
            <div class="bg-gradient-sinfo bg-blue shadow-warning border-radius-lg pt-4 pb-3">
                <h5 class="text-white text-capitalize ps-3">Payment Methods</h5>
            </div>
        </div>

{#        EPIC #}
        <div class="card-body pt-4 p-3">
            <div class="row justify-content-center my-5">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header p-3 pt-2">
                            <div class="icon icon-lg icon-shape text-center border-radius-xl mt-n4 position-absolute">
                                <img class="mt-2" width="40px" src="https://assets.coingecko.com/coins/images/9520/large/Epic_Coin_NO_drop_shadow.png?1620122642">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row align-items-center justify-content-between">
                                <div class="col-4"><span class="text-sm">Network:</span></div>
                                <div class="col-8 text-dark text-sm ms-sm-2 font-weight-bold" style="max-width: 300px">
                                    EPIC
                                </div>
                                <div class="text-center"><hr style="margin: 1px; width: 90%"></div>
                            </div>

                            <div class="row align-items-center justify-content-between">
                                <div class="col-4"><span class="text-sm">Accepted:</span></div>
                                <div class="col-8 text-dark text-sm ms-sm-2 font-weight-bold" style="max-width: 300px">
                                    Native EPIC
                                </div>
                                <div class="text-center"><hr style="margin: 1px; width: 90%"></div>
                            </div>

                            <div class="row align-items-center justify-content-between">
                                <div class="col-4"><span class="text-sm">Wallet address:</span></div>
                                <div class="col-8 text-dark text-sm ms-sm-2 font-weight-bold" style="max-width: 300px">
                                    esZjEjcz9jt1AVdxr5ad5ZL8bZfrGjbEMFaGDpxxbX8NTvaLjxvu@epicbox.epic.tech
                                </div>
                                <div class="text-center"><hr style="margin: 1px; width: 90%"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

{#            VITE #}
            <div class="row justify-content-center my-5">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header p-3 pt-2">
                            <div class="icon icon-lg icon-shape text-center border-radius-xl mt-n4 position-absolute">
                                <img class="mt-2" width="40px" src="https://assets.coingecko.com/coins/images/4513/large/Vite.png?1558014583">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row align-items-center justify-content-between">
                                <div class="col-4"><span class="text-sm">Network:</span></div>
                                <div class="col-8 text-dark text-sm ms-sm-2 font-weight-bold" style="max-width: 300px">
                                    VITE
                                </div>
                                <div class="text-center"><hr style="margin: 1px; width: 90%"></div>
                            </div>

                            <div class="row align-items-center justify-content-between">
                                <div class="col-4"><span class="text-sm">Accepted:</span></div>
                                <div class="col-8 text-dark text-sm ms-sm-2 font-weight-bold" style="max-width: 300px">
                                    EPIC-002 | BTC-000 | USDT-000
                                </div>
                                <div class="text-center"><hr style="margin: 1px; width: 90%"></div>
                            </div>

                            <div class="row align-items-center justify-content-between">
                                <div class="col-4"><span class="text-sm">Wallet address:</span></div>
                                <div class="col-8 text-dark text-sm ms-sm-2 font-weight-bold" style="max-width: 300px">
                                    vite_d3f478a11bb149c4d140ea29dbfceba5b5315c04561d355c12
                                </div>
                                <div class="text-center"><hr style="margin: 1px; width: 90%"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

{#            BTC #}
            <div class="row justify-content-center my-5">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header p-3 pt-2">
                            <div class="icon icon-lg icon-shape text-center border-radius-xl mt-n4 position-absolute">
                                <img class="mt-2" width="40px" src="https://bitcoin.org/img/icons/opengraph.png?1652976465">
                            </div>
                        </div>

                        <div class="card-body">
                            <div class="row align-items-center justify-content-between">
                                <div class="col-4"><span class="text-sm">Network:</span></div>
                                <div class="col-8 text-dark text-sm ms-sm-2 font-weight-bold" style="max-width: 300px">
                                    Bitcoin
                                </div>
                                <div class="text-center"><hr style="margin: 1px; width: 90%"></div>
                            </div>

                            <div class="row align-items-center justify-content-between">
                                <div class="col-4"><span class="text-sm">Accepted:</span></div>
                                <div class="col-8 text-dark text-sm ms-sm-2 font-weight-bold" style="max-width: 300px">
                                    BTC
                                </div>
                                <div class="text-center"><hr style="margin: 1px; width: 90%"></div>
                            </div>

                            <div class="row align-items-center justify-content-between">
                                <div class="col-4"><span class="text-sm">Wallet address:</span></div>
                                <div class="col-8 text-dark text-sm ms-sm-2 font-weight-bold" style="max-width: 300px">
                                    bc1qdangv3ltl5xgmh2gxt5gzer2k5tjzl76x0vzl8
                                </div>
                                <div class="text-center"><hr style="margin: 1px; width: 90%"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

{#            XMR #}
            <div class="row justify-content-center my-5">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header p-3 pt-2">
                            <div class="icon icon-lg icon-shape text-center border-radius-xl mt-n4 position-absolute">
                                <img class="mt-2" width="40px" src="https://assets.coingecko.com/coins/images/69/large/monero_logo.png?1547033729">
                            </div>
                        </div>

                        <div class="card-body">
                            <div class="row align-items-center justify-content-between">
                                <div class="col-4"><span class="text-sm">Network:</span></div>
                                <div class="col-8 text-dark text-sm ms-sm-2 font-weight-bold" style="max-width: 300px">
                                    Monero
                                </div>
                                <div class="text-center"><hr style="margin: 1px; width: 90%"></div>
                            </div>

                            <div class="row align-items-center justify-content-between">
                                <div class="col-4"><span class="text-sm">Accepted:</span></div>
                                <div class="col-8 text-dark text-sm ms-sm-2 font-weight-bold" style="max-width: 300px">
                                    XMR
                                </div>
                                <div class="text-center"><hr style="margin: 1px; width: 90%"></div>
                            </div>

                            <div class="row align-items-center justify-content-between">
                                <div class="col-4"><span class="text-sm">Wallet address:</span></div>
                                <div class="col-8 text-dark text-sm ms-sm-2 font-weight-bold" style="max-width: 300px">
                                    87ThE6hxXoWf4s1APAfzLB1cwmggCLxmVEAGY6GckLqnLo2N4jvU88FioczRgE66K8hgR1Exgw4Nei9LEZpPkgzANzFpnNW
                                </div>
                                <div class="text-center"><hr style="margin: 1px; width: 90%"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

{#            USDT #}
            <div class="row justify-content-center my-5">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header p-3 pt-2">
                            <div class="icon icon-lg icon-shape text-center border-radius-xl mt-n4 position-absolute">
                                <img class="mt-2" width="40px" src="https://assets.coingecko.com/coins/images/279/large/ethereum.png?1595348880">
                            </div>
                        </div>

                        <div class="card-body">
                            <div class="row align-items-center justify-content-between">
                                <div class="col-4"><span class="text-sm">Network:</span></div>
                                <div class="col-8 text-dark text-sm ms-sm-2 font-weight-bold" style="max-width: 300px">
                                    Ethereum
                                </div>
                                <div class="text-center"><hr style="margin: 1px; width: 90%"></div>
                            </div>

                            <div class="row align-items-center justify-content-between">
                                <div class="col-4"><span class="text-sm">Accepted:</span></div>
                                <div class="col-8 text-dark text-sm ms-sm-2 font-weight-bold" style="max-width: 300px">
                                    USDT | USDC | ETH
                                </div>
                                <div class="text-center"><hr style="margin: 1px; width: 90%"></div>
                            </div>

                            <div class="row align-items-center justify-content-between">
                                <div class="col-4"><span class="text-sm">Wallet address:</span></div>
                                <div class="col-8 text-dark text-sm ms-sm-2 font-weight-bold" style="max-width: 300px">
                                    0xc874D461edCefA9A9904B1B288ba5432cDf32a80
                                </div>
                                <div class="text-center"><hr style="margin: 1px; width: 90%"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>