{% extends "layouts/base.html" %}

{% block title %} EPIC-WEB Wallet {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="container-fluid py-4 p-4">
    <div class="row min-vh-80 h-100">
        <div class="col-12">
            <div class="row justify-content-center">
                <div class="col-12" style="max-width: 700px">
                    <div class="row justify-content-center">
                        <div class="col-12" style="max-width: 400px">
                            <img src="{{ ASSETS_ROOT }}/images/faucet.png" class="img-fluid my-3 rounded-2">
                        </div>
                    </div>

                    <p class="fs-4 mt-3">
                        <b>EPIC</b> Cryptocurrency Faucet
                    </p>
                    <hr>
                    <p class="fs-5">Goal of the project is to help project adoption introducing easy way to onboard the new users.</p>
                    <p class="fs-5">
                        Wallet will be easy to charge by community members with public balance. Faucet will allow to claim each user <b>0.01 EPIC</b>
                        once every 24h, there will be hard limit of daily transactions initially set at <b>100 claims</b> per day (subject to change).
                    </p>
                </div>
            </div>

            <hr>

            <!--            FOOTER -->
            <div class="row justify-content-center">
                <div class="col-12" style="max-width: 700px">
                    {% include 'includes/footer.html' %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
